{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid mt-5">
        <h2 class="d-flex justify-content-center"> Add object</h2>
<form name="post" action="{{ path('add_object')  }}" method="POST" enctype="multipart/form-data" class="container" >

    <div class="form-group">
        <label for="object_name">
            Objectname
        </label>

        <input type="text" id="object_name" name="object_name" class="form-control">
    </div>
    <div class="form-group">
        <label for="object_printtime">
            Printtime
        </label>
        <input type="text" name="object_printtime" id="object_printtime" class="form-control">
    </div>
    <div class="form-group">
        <label for="object_size">
            Size
        </label>
        <input type="text" name="object_size" id="object_size" class="form-control">
    </div>
    <div class="form-group">
        <label for="object_price">
            Price
        </label>
        <input type="text" name="object_price" id="object_price" class="form-control">
    </div>
    <div class="form-group">
        <label for="object_files">
            Upload Files
        </label>
        <input type="file" name="object_files[]" id="object_files" multiple="multiple" class="form-control">
    </div>
    <div class="form-group">
        <label for="object_images">
            Upload images
        </label>
        <input type="file" name="object_images[]" id="object_images" multiple="multiple" class="form-control">
    </div>
    <div id="addafter">
    <label for="object_Category">
        <select name="object_Category[]" >
            <option name="object_Category[]">None...</option>
            {% for category in categories %}
                <option name="object_Category[]"> {{ category.name }} </option>
            {% endfor %}
        </select>
    </div>
    <!-- TODO Add input for Categories <input name=Object_Categories[]>-->

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>

    <input id='addObject' onclick="addInput()" class="btn btn-primary" type="submit">
{% endblock %}

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
            crossorigin="anonymous"></script>

    <script>
        let count = 1;
        const addInput = () => {

            $('#addafter').append(
                `<select name="object_Category[]" >
                {% for category in categories %}
                <option name="object_Category[${count}]"> {{ category.name }} </option>
                {% endfor %}
                </select>`);
            count+=1;

        };
    </script>
{% endblock %}