

{% block body %}

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>3DPrintFarm </title>
    </head>
    <header style="background-color: #263238; width: 100%; height: 120px;  overflow: hidden;">
        <div style="display: flex;">
            <img src="https://wdev.be/wdev_arno/eindwerk/system/public/uploads/images/logo.png" alt='logo' style="display: block; width: 80px;">
            <div style="margin-left: 90px"><h1 style="color: floralwhite" >3D-Print-Domain </h1>
                <h4 style="color: floralwhite">Van idee naar register!</h4></div>

            <ul style="position: absolute; margin-left: 80%; color: floralwhite; font-size:12px; list-style: none; ">
                <li>3D-Print-Domain </li>
                <li>ValseStraat 32 </li>
                <li>3DprintAdmin</li>
                <li>070/245 245</li>
                <li>3Dprintdomaininfo@gmail.com</li>
            </ul>
        </div>
    </header>
<body>

<br>
<strong>Please click the link below to sign up!</strong>
<br>
<br>



<p>     Click  <a href="https://wdev.be/wdev_arno/eindwerk/api/registerconfirm?key={{ register}}">here </a>to activate your account </p>
{% endblock %}