

{% block body %}


    <p>
        Click  <a href="http://127.0.0.1:8000/api/registerconfirm?key={{ register}}">here </a>to activate your account
        (this link is valid until may!)
    </p>
{% endblock %}