<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SUCCCESSS!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav><a href="{{ path('app_admin_objects') }}">Objects </a>
        <a href="{{ path('app_admin_orders') }}">Orders </a>
        <a href="/api">API</a>
        <a href="{{ path('app_logout') }}">Logout</a>
    </nav>

        {% block body %}{% endblock %}
    {% block main %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
