{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row" hidden="hidden">
            Total orders
            Total orders today

            printers in action
            stats graph
        </div>

    </div>
    <div id="root"></div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="system/assets/js/app.js">
        console.log('hello Home');
        var initialAppState = {{ printers_serialized | raw }} ;

    </script>




{% endblock %}

