{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row" hidden="hidden">
            Total orders
            Total orders today

            printers in action
            stats graph
            dispaly snapshots if camera is disabled
        </div>

    </div>
    <div id="root"></div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        var initialAppState = {{ printers_serialized | raw }} ;
    </script>


        {{ encore_entry_script_tags("app") }}






{% endblock %}

