{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            Total orders
            Total orders today

            printers in action
            stats graph

        </div>

    </div>
{% endblock %}