{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    </div>
    <div id="root" class="bg-light"></div>
<div class="row">
    <div class="col mt-5">
        <div class="card">
            <img
                    class="card-image-top"
                    src="http://192.168.0.134:8080/?action=snapshot"
                    alt='Webcam disabled'
                    width="250"
            />
            <div class='card-body'>

                <ul>
                    <li>
                        Printer up:
                        <strong>Operational</strong>
                    </li>
                    <li>
                        SD card ready:
                        <strong>Ready</strong>
                    </li>
                    <li>
                        Bed temperature:
                        <strong>44</strong>
                    </li>
                    <li>
                        Hotend temp:
                        <strong>195</strong>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="col mt-5">
        <div class="card">
            <img
                    class="card-image-top"
                    src="http://192.168.0.134:8080/?action=snapshot"
                    alt='Webcam disabled'
                    width="250"
            />
            <div class='card-body'>

                <ul>
                    <li>
                        Printer up: <strong>Operational</strong>
                    </li>
                    <li>
                        SD card ready:
                        <strong>Ready</strong>
                    </li>
                    <li>
                        Bed temperature:
                        <strong>50</strong>
                    </li>
                    <li>
                        Hotend temp:
                        <strong>201</strong>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="col mt-5">
        <div class="card">
            <img
                    class="card-image-top"
                    src="http://192.168.0.134:8080/?action=snapshot"
                    alt='Webcam disabled'
                    width="250"
            />
            <div class='card-body'>

                <ul>
                    <li>
                        Printer up: <strong>Operational</strong>
                    </li>
                    <li>
                        SD card ready:
                        <strong>Ready</strong>
                    </li>
                    <li>
                        Bed temperature:
                        <strong>27</strong>
                    </li>
                    <li>
                        Hotend temp:
                        <strong>27</strong>
                    </li>
                </ul>

            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var initialAppState = {{ printers_serialized | raw }} ;
    </script>
    {{ encore_entry_script_tags("app") }}








{% endblock %}

